# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/

# Django
db.sqlite3
media/
staticfiles/
local_settings.py
.env

# VS Code
.vscode/

# Tests / coverage
.pytest_cache/
.coverage

# Packaging
dist/
build/
*.egg-info/